extends layout

block content
	include navbar
	include modals/modal-category

	.pageContent
		.panel.panel-default
			.panel-heading Categories
			.panel-body
				form.form-inline(role='form')
					.form-group
						button.openModalDialogButton.btn.btn-primary(type='button', data-toggle='modal', data-target='#addCategoryDialog', aria-label='Add Category')
							span.glyphicon.glyphicon-plus(aria-hidden='true')
							|  Add Category
					.form-group
						.input-group
							input#tableSearchBar.form-control(type='text', placeholder='Search for ...')
							span.input-group-btn
								button.btn.btn-default(type='button') Go!
			.table-responsive
				table#categoryTable.table
					thead
						tr
							th Category ID
							th Category Name
							th Created At
							th Description
							th Time Based
							th Icon
							th Theme Color
							th Question Limit
							th Leaderboard ID
							th Product Identifier
							th Online
							th
							th
							th
					tbody.searchable
						each category in categories
							tr
								td #{category._id}
								td #{category.name}
								td #{category.createdAt.toLocaleString()}
								td #{category.description}
								td(class=(category.timeBased) ? 'cell-color-success' : 'cell-color-fail')
								td(class='media-cell')
									img(src=baseurl+'/uploads/'+category.iconName, alt='', height='20', width='20')
								td(class='themeable') #{category.themeColor}
								td #{category.questionLimit}
								td #{category.leaderboardId}
								td #{category.productIdentifier}
								td(class=(category.online) ? 'cell-color-success' : 'cell-color-fail')
								td
									a.editCategory(href='#') Edit
								td
									a.removeCategory(href='#') Delete
								td
									a.showQuestions(href='#') Questions
block scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
	script(src='../assets/js/config.js')
	script(src='../assets/js/categoryController.js')
